[Unit]
Description=ROS2 Topic Frequency Monitor
After=drs_launch.service
Wants=drs_launch.service

[Service]
Type=simple
User=nvidia
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/nvidia/.Xauthority"
ExecStart=/bin/bash -c "source /opt/autoware/env/autoware.env && source /opt/ros/humble/install/setup.bash && python3 /opt/drs/topic_notifier.py"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
